fastapi
uvicorn
gdown
python-dotenv
torch
torchaudio
SoundFile
munch
pydub
pyyaml
librosa
matplotlib
transformers
einops
einops-exts
tqdm
typing
typing-extensions
pandas
kss
nltk
jamo